.typo{
  text-align: center;
  color: rgb(4, 95, 32);
}
.text{
font-size: xx-small;
}
.hole{
  font-size: xx-large;
    background-color: rgb(190, 238, 142);
    color: white;
}
.blue{
    background-color: rgb(136, 245, 172);
}