.typo{
    text-align: center;
    color: rgb(28, 104, 104);
  }
  .text{
font-size: xx-small;
  }
  .hole{
      background-color: rgb(113, 211, 14);
      color: white;
  }
  .blue{
      background-color: rgb(238, 234, 28);
  }